<!-- Component: RBC Imagine Future-Defining Themes -->
<section class="rbccm-themes" aria-labelledby="themes-heading">
    <div class="rbccm-themes__container">
        <h2 class="rbccm-themes__heading" id="themes-heading">${Heading}</h2>
        <div class="rbccm-themes__wrapper">
            <!-- Tab list -->
            <div class="rbccm-themes__tablist" role="tablist">
                <!-- Repeatable: one per theme -->
                <button class="rbccm-themes__tab ${IsActive}" role="tab"
                        aria-expanded="${AriaExpanded}"
                        aria-controls="panel-${PanelId}"
                        data-panel="${PanelId}">
                    ${TabLabel}
                    <svg class="rbccm-themes__chevron" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none" aria-hidden="true">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.59 15.555L12 10.9317L7.41 15.555L6 14.1316L12 8.07493L18 14.1316L16.59 15.555Z" fill="white"></path>
                    </svg>
                </button>
                <div class="rbccm-themes__panel" role="tabpanel" id="panel-${PanelId}" data-panel="${PanelId}">
                    <h3 class="rbccm-theme__title">${ThemeTitle}</h3>
                    <p>${Tagline}</p>
                    <div class="rbccm-theme__content">
                        <img class="rbccm-theme__image" src="${ThemeImage}" alt="${ThemeImageAlt}">
                        <div class="rbccm-theme__text">
                            ${BodyContent}
                        </div>
                    </div>
                </div>
                <!-- /Repeatable -->
            </div>
            <!-- Desktop panels container -->
            <div class="rbccm-themes__panels"><!-- Panels will be moved here via JavaScript on desktop --></div>
        </div>
    </div>
</section>
